@import "tailwindcss";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";

@import "flowbite/src/themes/default";

/* h1.luckiest-guy-regular {
  font-family: "Luckiest Guy", cursive !important;
  font-weight: 400 !important;
  font-style: normal !important;
} */
body {
  @apply bg-gray-100 text-gray-800;
  font-family: "Luckiest Guy", cursive;
}
